@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow+Semi+Condensed:wght@100&family=Righteous&family=Sarala:wght@400;700&family=Staatliches&display=swap');
* {
    margin: 0; padding: 0;
}
body { background-color: rgb(238, 242, 245); width: 100%;}

.grid-topo {
    width: 100%;
    background-color:rgb(43, 47, 71);
}
.topo {
    width: 980px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: end;
    margin: 0 auto;
    
    
}
.midia {
    width: 20px;
    padding-bottom: 3px;
    
}
nav { 
    width: 100%;
    height: 170px; 
    background-image:linear-gradient(-70deg, rgb(110, 194, 233) 50% , rgb(43, 47, 71));
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

    
.navbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.texto-logo a{
    text-align: center;
    border-left: 1px solid rgb(23, 36, 43);
    padding-left: 15px;
}
.texto-logo a h1{
    font-size: 28pt;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
    margin: 0;
    padding: 0;
    color: rgb(238, 242, 245);
    text-shadow: 1px 1px 0.2em rgb(71, 71, 71);
}
.texto-logo a p {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 1px 1px 0.2em rgb(71, 71, 71);
}
.cabeçalho-logo-image { 
    height: 100px; 
}

nav ul { 
    padding-top: 10px;   
}
nav ul li {
    list-style: none;
    text-decoration: none;
    
}

/* Menu Principal */
nav ul li a {
    text-decoration: none;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 0.5em rgb(155, 156, 156);
    


}
nav ul li a:hover {
    color: rgb(1, 36, 65);
    font-size: 15pt;
    font-weight:600 ;
    padding-bottom: 10px;
    text-shadow: 1px 1px 0.5em rgb(155, 156, 156);
}

/* Submenu */
ul.dropdown-menu { display: none;}

li.dropdown-item {
    height: 100%;
    padding: 0;
   
    
}

/*Itens do submenu*/
.dropdown-item a{
    width: 100%;
    color: rgb(1, 36, 65);
    font-size: 13pt;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
    
    
}
.dropdown-item a:hover {
    padding: 8px 0px; 
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 13pt;
    font-weight:600 ;
    background-color: rgba(110, 194, 233, 0.8);
    text-align: center;
    text-shadow: 1px 1px 0.5em rgb(155, 156, 156);
    border-radius: 0;
    
    

}
nav ul li:hover ul { 
    
    display: block; 
    
    
}

/*Carrossel de Imagens*/
.carousel {
    width: 100%;
    height: 480px;
}
.carousel-inner {
    width: 100%;
    height: 480px;
}
.carousel-item img {
    width: 100%;
    height: 480px;
}

/* Conteúdo Principal*/
.conteudo-principal {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(-70deg, rgb(110, 194, 233) 50% , rgb(43, 47, 71));
}
.grid-conteudo {
   
    height: 700px;
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.884);
    box-shadow: 0 0 25px 0.17em black;
    border-radius: 5px;
}
.conteudo-list{
    display: flex;
    flex-direction: wrap;
}
.conteudo-img img {
    width: 70%;
    
}

.conteudo-titulo {
    margin: 10px auto;
    text-align: center;
    width: 700px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-shadow: 0 0 6px rgb(185, 185, 185);
    border-bottom: 2px solid rgb(122, 122, 122);
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(35, 44, 66);
    font-family: 'Staatliches', cursive;
    
}
.conteudo-texto{
    padding-top: 50px;
    padding-left: 70px;
}
.conteudo-texto p{
    margin-top: 30px;
    color: rgb(35,44,66);
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Barlow Semi condensed', sans-serif;
    padding-top: 10px;
    padding-left: 70px;
    text-shadow: 0 0 2px rgb(155, 155, 155);

}



.rodape {
    height: 385px;
    background-image:linear-gradient(-150deg, rgb(45, 51, 83), rgb(31, 34, 49)80%);
    background-color: rgb(45, 51, 83);;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    

}
.rodape h2 {
    font-size: 2.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-top: 25px;
    padding-bottom: 30px;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-bottom: 1px solid rgb(206, 205, 205);
    
}

.rodape p {
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-shadow: 0px 0px 1px rgb(109, 109, 109);
    
}

.rodape-grid {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    gap: 150px;
    padding-right: 80px;
}

.rodape-localizacao {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rodape-conteudo{
    margin-top: 25px;
}

.rodape-contato {
    display: flex;
    flex-direction: column;   
    align-items: center;
    
}
.rodape-contato-itens {
    text-align: right;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape-contato-item {
    display: flex;
    flex-direction: row;
    gap: 20px 5px;
    text-align: center;

}

.rodape-contato-item a {
    text-decoration: none;
    color: white;
    
}

.foto-contato {
    width: 20px;
    height: 20px;
    
}

.direitos{
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    padding-top:50px ;
    
    
}
.direitos p {
    font-weight: 400;
}
