section {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
 }

 h1 {
  color: var(--text-light-color);
  font-family: var(--font-primary);
  font-weight: 300;
 }