.header-menu { 
  width: 25rem;
  padding: 12rem 3.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  z-index: 100;
  height: 100vh;
  right: -100%;
  top: 0;
  transition: var(--transition-slowest);
  transform: blur(.5rem);
}

.menu-show {
  opacity: 1;
  right: 0;
}

.menu-show > .menu-button {
  gap: 0;
}

.menu-button {
  position: fixed;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  outline: none;
  z-index: 101;
  right: 2.5rem;
  top: 4rem;
  border-radius: .5rem;
  transition: var(--transition-slow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.menu-button:hover {
  background-color: var(--secondary-color);
}

.menu-button .icon-bar {
  width: 70%;
  height: .3rem;
  background-color: var(--text-light-color);
  transition: var(--transition-slow);
}


.menu-button .icon-bar.open:first-child {
  transform: rotateZ(45deg) translateY(.23rem);
}

.menu-button .icon-bar.open:nth-child(2) {
  display: none;
}

.menu-button .icon-bar.open:last-child {
  transform: rotateZ(-45deg) translateY(-.23rem);

}

.menu-items {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.header-menu li.active a {
  background: -webkit-linear-gradient(260deg, rgb(110, 194, 233) 50% , rgb(43, 47, 71));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: .1rem .1rem 0.5rem rgba(0, 0, 0, 0.4s);
}

.header-menu li a {
  position: relative;
  padding: 0;
  padding-bottom: .5rem;
  font-size: var(--font-size-small);
  color: var(--text-light-color);
  font-family: var(--font-primary);
  font-weight: 600;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.4);
}

.header-menu li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: .3rem;
  background-image: var(--gradient-color);
  bottom: 0;
  transition: var(--transition-fast);
  right: 0;
}

.header-menu li a:hover {
  background: -webkit-linear-gradient(260deg, rgb(110, 194, 233) 50% , rgb(43, 47, 71));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: .1rem .1rem 0.5rem rgba(0, 0, 0, 0.4s);
}

.header-menu li a:hover::before {
  width: 100%;
}


@media (min-width: 768px) {
  .header-menu {
    padding: 0;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: transparent;
    transition: var(--transition-slowest);
  }

  .menu-button {
    display: none;
  }

  .menu-items {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .header-menu li.active a  {
    background: -webkit-linear-gradient(260deg, var(--primary-color) 50% , rgb(43, 47, 71));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: .1rem .1rem 0.5rem rgba(0, 0, 0, 0.4s);
  }

  .header-menu li a {
    font-size: var(--font-size-normal);
  }

  .header-menu li a:hover {
    background: -webkit-linear-gradient(260deg, var(--primary-color) 50% , rgb(43, 47, 71));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: .1rem .1rem 0.5rem rgba(0, 0, 0, 0.4s);
  }

  .header-menu li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: .3rem;
    background-image: linear-gradient(-70deg, var(--primary-color) 50% , rgb(43, 47, 71));
    bottom: 0;
    transition: var(--transition-fast);
    right: 0;
  }
}
