.rodape {
  height: 385px;
  background-image:linear-gradient(-150deg, rgb(45, 51, 83), rgb(31, 34, 49)80%);
  background-color: rgb(45, 51, 83);;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  

}
.rodape h2 {
  font-size: 2.5em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-bottom: 1px solid rgb(206, 205, 205);
  
}

.rodape p {
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  text-shadow: 0px 0px 1px rgb(109, 109, 109);
  
}

.rodape-grid {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
  gap: 150px;
  padding-right: 80px;
}

.rodape-localizacao {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rodape-conteudo{
  margin-top: 25px;
}

.rodape-contato {
  display: flex;
  flex-direction: column;   
  align-items: center;
  
}
.rodape-contato-itens {
  text-align: right;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rodape-contato-item {
  display: flex;
  flex-direction: row;
  gap: 20px 5px;
  text-align: center;

}

.rodape-contato-item a {
  text-decoration: none;
  color: white;
  
}
.rodape-contato-item img {
  padding-right: 3px;
  text-align: center;
}

.foto-contato {
  width: 20px;
  height: 20px;
  
}

.direitos{
  height: 50px;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  padding-top:50px ;
  
  
}
.direitos p {
  font-weight: 400;
}
