/* form {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: center;
    height: 700px;
    
}
form h2 {
    text-align: center;
    padding: 50px 50px;
    font-size: 2.5em;
    font-family: 'Staatliches', cursive;
    color: rgb(39,49,75);
}
form label {
    padding: 3px;
    font-size: 1.2em;
    font-family: 'Barlow Semi condensed', sans-serif;
    color: rgb(39,49,75);
}
form input {
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 7px;
}
form #descrição {
    height: 100px;
    padding: 3px;
    top: 2px;
}
form #enviar {
    background-color: rgb(45, 51, 83);;
    font-size: 1.2em;
    font-family: 'Barlow Semi condensed', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 2px black;

}
form #enviar:hover {
    background-color: rgb(31, 34, 49);
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}
 */

.contact-container {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
 }

 h1 {
  color: var(--text-light-color);
  font-family: var(--font-primary);
  font-weight: 300;
  font-family: var(--font-primary);
 }



