/*Carrossel de Imagens*/
.carousel {
  width: 100vw;
  height: 500px;
  
  
}
.carousel-inner {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%; 
}

